/* .all {
    width: 100vw;
    height: 100vh;
} */
#slider {
    position: relative;
    text-align: center;
    top: 0px;
    /* right: 20px;
    left: 20px; */
    margin: 0 auto;
}
#slider article {
    width: 20%;
    float: left;
}
#slider .image {
    width: 500%;
    line-height: 0;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
article img {
    max-width: 100%;
    background-color: #EEDDFF;
  border: 0px solid black;
  border-radius: 25px;
}
#desktop:checked ~ #slider {
    /* max-width: 960px; */
    max-width: 1024px;
    /* max-width: 1440px; */
}
#switch1:checked ~ #controls label:ntn-child(5),
#switch2:checked ~ #controls label:ntn-child(1),
#switch3:checked ~ #controls label:ntn-child(2),
#switch4:checked ~ #controls label:ntn-child(3),
#switch5:checked ~ #controls label:ntn-child(4){
display: block;
}
/* label, a { */
    label {
    cursor: pointer;
    /* padding: 5px; */
    /* border: 20px; */
}
.all input{
    display: none;
}
#switch1:checked ~ #slides .image {
    margin-left: 0%;
}
#switch2:checked ~ #slides .image {
    margin-left: -100%;
}
#switch3:checked ~ #slides .image {
    margin-left: -200%;
}
#switch4:checked ~ #slides .image {
    margin-left: -300%;
}
#switch5:checked ~ #slides .image {
    margin-left: -400%;
}

#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}
#active label {
    border-radius: 10px;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 5px;
    border: 2px solid black;
    background: #76c8ff;
    /* background: black; */
    
}
#active {
    /* margin: 23% 0 0;
    text-align: center; */
    padding: 22% 7% 7% 0;
    text-align: right;
    background-color: black;
}
#active label:hover {
    
    /* background: #bbb; */
    background: black;
    /* border-color: #777;  */

    border: 2px solid #76c8ff;
    border-radius: 25px;
    
    /* !important; */
}

/*  */
#active label:active {
    
    background: black;
    border: 2px solid #76c8ff;
    border-radius: 25px;
    
    /* !important; */
}
/*  */

#switch1:checked ~ #active label:ntn-child(1),
#switch2:checked ~ #active label:ntn-child(2),
#switch3:checked ~ #active label:ntn-child(3),
#switch4:checked ~ #active label:ntn-child(4),
#switch5:checked ~ #active label:ntn-child(5){
/* background: #161718; */
    background: black;
    border: 2px solid #76c8ff;
    border-radius: 25px;

/* border-color: white; */
 /* !important; */
}

#slides .image {
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#controls label:hover {
    background: red;
}

#slides {
   padding: 1.5vw 3vw;
   max-width: 100vw; 
   background-color: black;
}
span {
    /* display: none; */
    color: white;
    font-size: 2vw;
    text-justify: inter-cluster;
}

@media only screen and (max-width: 768px) {
    #active {
        /* margin: 23% 0 0;
        text-align: center; */
        padding: 32% 0% 20% 0;
        text-align: center;
    }    
}